* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #e5e5dc;
}

.bandeau {
  background-color: #c66b3d;;
}

.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  color: #C4a35a;
}

.bouton {
  display: flex;
  justify-content: center;
}

.role {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.role a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  width: 300px;
  height: 200px;
  text-decoration: none;
  border-radius: 20px;
  color: #C4a35a;
  transition: 0.7s;
}

.role a:hover {
  transform: scale(1.1);
  box-shadow: 10px 5px 5px #29465C;
  color: #29465C;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #29465C;
  color: #C4a35a;
  padding: 16px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 0.6s;
}

.open-button:hover{
  transform: scale(1.1);
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  z-index: 9;
  border-radius: 20px;

}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #e5e5dc;
  box-shadow: 9px 6px 12px #c66b3d;
  border-radius: 8px;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #26495c;
  color: #C4a35a;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(163, 0, 0);
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}